body {
  background-color: #8000ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  background: linear-gradient(
    90deg,
    rgb(80, 83, 102) 0%,
    rgb(211, 216, 214) 100%
  );
  min-height: 100vh;
}

#container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap;
  background-color: aliceblue;
  width: 400px;
  height: fit-content;
  align-self: center;
  border-radius: 5%;
  border: 2px solid #00ffff;
  box-shadow: 10px 10px 10px  #000 ;
}

form {
padding: 2%;
}

.row {
  flex: 0 0 100%;

  min-width: fit-content;
  padding: 2%;
  margin: 2%;
}
