body {
    background-color: #5A5A5A;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
}

#container {
background-color:aliceblue;
min-width: 400px;
min-height: 600px;
align-self: center;
border-radius: 5%;
}

.row {
    padding: 5%;
}