body {
  background-color: #8000ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  background: linear-gradient(
    90deg,
    rgb(80, 83, 102) 0%,
    rgb(211, 216, 214) 100%
  );
  min-height: 100vh;
}

.show {
  display: flex;
  flex: 0 0 0 100%;
}

.hide {
  display: none !important;
}

#container {
  
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap;
  background-color: aliceblue;
  width: 400px;
  height: fit-content;
  align-self: center;
  border-radius: 5%;
  border: 2px solid #00ffff;
  box-shadow: 10px 10px 10px #000;
}

#container div {
  margin: 2%;
}

form {
  padding: 2%;
}

.row {
  flex: 0 0 100%;

  min-width: fit-content;
  padding: 2%;
  margin: 2%;
}

.card {
  background-color: #fff;
  padding: 5%;
  border-radius: 3% 3%;
}

ul {
  list-style-type:circle;
}

/* #resultContainer {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-flow: row wrap;
  background-color: aliceblue;
  max-width: fit-content;
  max-height: fit-content;
  align-self: center;
  border-radius: 5%;
  border: 2px solid #00ffff;
  box-shadow: 10px 10px 10px #000;
} */

/* .result {
  padding: 2%;
  border: 2px solid #000;
} */
